* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    user-select: none;
}

body {
    background: url(../images/bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    margin-bottom: 0;
}

.jumbotron {
    padding-top: 6rem;
    color: rgba(255, 255, 255, 1);
}

.btn:hover {
    transform: scale(1.08);
    transition: all 0.1s ease 0s;
}

.display-6,
.display-4 {
    text-shadow: 5px 2px 5px#000;
    font-weight: 400;
}

.gnavbar {
    background: transparent;
    backdrop-filter: blur(20px);
    color: rgba(255, 255, 255, 1);
    font-weight: 500;

}

th {
    border: black;
}

#back-button {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid white;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: white;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s
}

#button {
    background-color: #d3ad7f;
    color: rgba(255, 255, 255, 1);
    font-weight: 500;
    justify-content: center;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: transparent;
    backdrop-filter: blur(20px);
    padding: 20px;
}

.btn-back {
    margin-right: 170vh;
}